@tailwind base;
@tailwind components;
@tailwind utilities;

body.pdv-fullscreen {
  .navbar,
  aside {
    display: none;
  }

  main {
    padding: 0;
  }

  main .breadcrumbs {
    display: none;
  }

  main .bg-base-200 {
    border: none;
    background: transparent;
    padding: 0;
    min-height: 100vh;
  }
}


/* opcional: melhora do antialias */
html, body { height: 100%; }
